# Basic Python

## Print Statements and Comment
<p>keterangan</p>

In [2]:
print ("Hello World!")
print (20)
print (1)
# this is a comment line
# anything starts with # will be ignored

Hello World!
20
1

In [1]:
print('hello')

hello

## Variables

### Integer, Float, and String

In [2]:
people = 100  # integer
temperature = 36.0  # float
room_name = "Room 1"  # string
#room_name = 1

print (people)
print (temperature)
print (type(room_name))
print (type(people))
print (type(temperature))

100
36.0
<class 'str'>
<class 'int'>
<class 'float'>

### List

In [3]:
fruits = []  # empty list
fruits = ["apple", "banana"]  # list with 2 elements
another_list = ["this is string", 10]  # list with different types of elements
peminatan = ["TI", "MM"]
print (fruits)
print (another_list)
print (peminatan)

['apple', 'banana']
['this is string', 10]
['TI', 'MM']

In [45]:
# add element to a list
fruits = ["apple", "banana"]
fruits.append("orange")
print (fruits)

fruits = fruits + ["mango"]
print (fruits)

a = 10

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'mango']

In [46]:
# accessing list elements
print (fruits[0])
print (fruits[1])
print (fruits[-1]) #from last item
print (fruits[-2])
print (fruits[-3])

print(a)

apple
banana
mango
orange
banana
10

### Dictionary

In [5]:
customer = {}  # empty dictionary
customer = {"name": "John", "age": 30, "hobi":"baca"}  # dictionary with key -> value pair
print (customer)

{'name': 'John', 'age': 30, 'hobi': 'baca'}

In [6]:
# add new key,value to dictionary
customer = {"name": {"firstname":"John", "lastname":"Smith"}, "age": 30, "address":["Purwokerto","Bekasi"]}
customer["email"] = "john@example.com"
print (customer)

{'name': 'John', 'age': 30, 'hobi': 'baca', 'email': 'john@example.com'}

In [51]:
# accessing individual value using key
print (customer["name"])
print (customer["email"])
print (customer["address"][1])

John
john@example.com
Bekasi

In [16]:
# accessing dictionary keys and values
print (customer.keys())
print (customer.values())

dict_keys(['name', 'age', 'address', 'email'])
dict_values(['John', 30, 'Purwokerto', 'john@example.com'])

### Tuple

In [53]:
# tuple is similar to list but immutable once created
# constant list
coordinate = (0, 5)
colors = ()
colors = ("red", "green", "blue")
colors2 = ("white")
#colors = colors + colors2
print (coordinate)
print (colors)

(0, 5)
('red', 'green', 'blue')

In [4]:
# accessing elements
print (coordinate[0], coordinate[1])

0 5

### Set

In [55]:
#set = himpunan; harus unique
unique_numbers = {1, 2, 3, 3, 5, 3, 4}
setof_chars = {'a', 'a', 'z', 'b', 'e', 'a', 'd'}
print (unique_numbers)
print (setof_chars)

{1, 2, 3, 4, 5}
{'b', 'a', 'z', 'e', 'd'}

In [8]:
# add element to a set
unique_numbers.add(2)
unique_numbers.add(4)
unique_numbers.update([1, 5])
print (unique_numbers)

{1, 2, 3, 4, 5}

### Concat String with Number

In [8]:
people = 1
temperature = 32.3
text = str(people) + " people"
print (text)
print ("There are %i people" % people)
print ("There are " + str(people) + " people")
print ("The temperature is %.5f" % temperature)

1 people
There are 1 people
There are 1 people
The temperature is 32.30000

### Concat String

In [9]:
room_name = "Arjuna"
text = "Room: " + room_name
print (text)
print ("There are", people, "people in", room_name)
print (" ".join(["There are", str(people), "people in", room_name]))

Room: Arjuna
There are 1 people in Arjuna
There are 1 people in Arjuna

## Basic Mathematical Operations

In [15]:
print((20 + 2))
print((75 * 4))
print(25 + 30 / 6)
print(100 - 25 * 3 % 4)
print(3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6)

22
300
30.0
97
6.75

In [61]:
print (10 / 3)  # div
print (10.0 / 3)  # floating point division
print (10 % 3)  # mod

3.3333333333333335
3.3333333333333335
1

### Comparison

In [17]:
print (5 > 2)
print (10 <= 100)
print (5 - 95 > 0)
print (7 == 7.0)

True
True
False
True

## Function

In [12]:
# function with no return statement
def print_hello_world():
    print ("Hello World!")
    print ("Hello World! 2")

def abc():
    print ("avs");
    
print_hello_world()
abc();

Hello World!
Hello World! 2
avs

In [14]:
# function with return statement
def is_even(number=10):
    return number % 2 == 0

print (is_even())
print (is_even(4))

True
True

## IF Statement

In [21]:
def print_is_even_number(number):
    if is_even(number):
        print ("%i is even" % number)
    else:
        print ("%i is odd" % number)
        

print_is_even_number(10)
print_is_even_number(17)

10 is even
17 is odd

In [69]:
number = 99
def guess_number(guess):
    if guess < number:
        print ("Wrong guess! try with larger number")
    elif guess > number:
        print ("Wrong guess! try with smaller number")
    else:
        print ("Correct! Congratulations!")
        

guess_number(5)
guess_number(100)
guess_number(99)

Wrong guess! try with larger number
Wrong guess! try with smaller number
Correct! Congratulations!

## Looping

In [70]:
# looping in range [0, n), n is excluded
for i in range(5,10):
    print (i)

5
6
7
8
9

In [24]:
# looping in range [a, b), b is excluded
for i in range(-5, 4):
    print (i)

-5
-4
-3
-2
-1
0
1
2
3

In [25]:
# looping over list
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print (fruit)

apple
banana
orange

In [27]:
# print all elements in a list
# with function enumerate to get the index of each element
print ("The fruits are:")
for i, fruit in enumerate(fruits):
    print ("%i. %s" % (i, fruit))

The fruits are:
0. apple
1. banana
2. orange

In [27]:
numbers = []  # create empty list

# loop from 0 to 9
# add number to the list if the number is even
for i in range(10):
    if is_even(i):
        numbers.append(i)
    
print (numbers)

[0, 2, 4, 6, 8]

In [28]:
# while loop

i = 2
numbers = []

while i < 10:
    print (i)
    numbers.append(i)
    i += 1
    if(i==7):
        break

2
3
4
5
6

## Class and Object

In [15]:
# declaring class
class Person:
    
    # __init__ is default initialization method for class
    # this is usually used to initialize attributes
    def __init__(self):
        self.name = "John"
        self.age = 30


class Car:
    def __init__(self):
        self.type = "auto"
        self.merk = "Avanza"
        
person = Person()
print ("Person name: %s" % person.name)
print ("Person age: %i" % person.age)

car = Car()
print (car.type)
print (car.merk)

Person name: John
Person age: 30
auto
Avanza

In [33]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def print_name(self):
        print (self.name)
        
    def edit_age(self, new_age):
        self.age = new_age
        
    def __str__(self):
        return "Person name: %s with age: %d" % (self.name, self.age)
    
    
person = Person("John", "30")
print (person.name)
print (person.age)
person.print_name()

John
30
John

In [35]:
print (person.edit_age(35))
print (person.age)

print (person)

None
35
Person name: John with age: 35

## Resource
Materi Workshop Data Mining dan Machine Learning ITTP UAD Yogyakarta

## External Resources
1. [Learn Python the Hard Way](https://learnpythonthehardway.org/book/)